{% extends 'myadmin/myadmin_base.html' %}
{% block container %}
  <h3>All selected modules</h3>
  <div class="collection">
    {% for model in model_list %}
        <a href="{% url 'myadmin-object-list' model %}">{{model}}</a>
        &emsp;
        <form method="POST" action="{% url 'myadmin-delete' model %}">
                {% csrf_token %}<input type="submit" name="delete" value="REMOVE THIS MODEL">
        </form>
        <br>
    {% endfor %}
  </div>
  <div>
      <br>
      <a href="{% url 'myadmin-all' %}">Add module</a>
  </div>
{% endblock %}
